{% extends 'base.html' %}
{% block TITLE %}Talep Detay{% endblock %}

{% block BODY %}
    <div class="container-fluid" style="background-color: whitesmoke">
        {% include 'modal.html' %}
        <!-- NAVBAR -->
        {% include 'admin/admin-navbar.html' %}
        {% include 'message.html' %}
        <!-- CONTENT -->
        <div class="row" style="height: 1080px; margin-top: 75px;">
            <!-- PAYMENTS -->
            <div class="col-lg-8 offset-2">
                <h1 class="text-center panel-headers">Gelen Kurs Talepleri</h1>
                <hr>
                <div class="col-lg-8 offset-2">
                    <div style="height: 450px; overflow-y: scroll; overflow: auto">
                        <div class="table-responsive">
                            <table class="table  table-responsive-md table-responsive-lg table-responsive-sm table-bordered table-dark">
                                <thead>
                                <tr>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;">#</th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        AD & SOYAD
                                    </th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        KULLANICI ADI
                                    </th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        İLETİŞİM BİLGİLERİ
                                    </th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        İŞLEM
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in active_courses %}
                                    <tr>
                                        <th scope="row" style="font-family: 'Calibri Light'; font-size: 16px">
                                            {{ forloop.counter }}
                                        </th>
                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            {{ finalreg.course.name }}
                                        </td>

                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            {{ finalreg.user.profile.course.value_ }}
                                        </td>

                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            {{ finalreg.user.profile.course.count }}
                                        </td>

                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            <div class="text-center">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button class="confirmPayment btn btn-success"
                                                            finalregid="{{ finalreg.id}}"
                                                            url="{% url 'confirmFinalReg' %}">
                                                        <i class="fa fa-check"></i> Kursunu Onayla
                                                    </button>
                                                    <button class="cancelPayment btn btn-danger"
                                                            finalregid="{{ finalreg.id }}"
                                                            url="{% url 'cancelFinalReg' %}">
                                                        <i class="fa fa-times"></i> Kurstan At
                                                    </button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% empty %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}