{% extends 'base.html' %}
{% block TITLE %}Active Courses{% endblock %}

{% block HEAD %}

    <script rel="script" type="text/javascript">

        $(document).ready(function () {
            $(".showInformation").click(function () {
                var $this = $(this);
                var $name = $this.attr('name');
                var $mail = $this.attr('mail');
                var $phone = $this.attr('phone');
                var $other_phone = $this.attr('other_phone');
                var $url = $this.attr('url');

                var data = {
                    name: $name, mail: $mail, phone: $phone, other_phone: $other_phone
                };

                $.ajax({
                    url: $url,
                    type: 'GET',
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        $(".ad").html(data.name);
                        $(".phone_number").html(data.phone);
                        $(".other_phone").html(data.other_phone);
                        $(".mail").html(data.mail);
                        $(".modal").modal('show')
                    }
                });
            });
        })

    </script>


{% endblock %}

{% block BODY %}
    <div class="container-fluid">
        {% include 'modal.html' %}
        {% include 'admin/admin-navbar.html' %}
        <div class="col-lg-6 offset-3">
            <h1 class="text-center course-prereg-header" style="margin-top: 75px; color: darkblue">Certain Registrations
                ({{ finalregs.count }})</h1>
            <hr>
        </div>
        <div class="row justify-content-center h-100">
            <div class="col-lg-6">
                <div style="height: 450px; overflow-y: scroll; overflow: auto">
                    <div class="table-responsive">
                        <table class="table  table-responsive-md table-responsive-lg table-responsive-sm table-bordered table-dark">
                            <thead>
                            <tr>
                                <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;">#</th>
                                <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                    class="text-center">
                                    NAME & LASTNAME
                                </th>
                                <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                    class="text-center">
                                    COURSE
                                </th>
                                <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                    class="text-center">
                                    REGISTRATION DATE
                                </th>
                                <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                    class="text-center">
                                    DETAILS
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for finalreg in finalregs %}
                                <tr>
                                    <th scope="row" style="font-family: 'Calibri Light'; font-size: 16px">
                                        {{ forloop.counter }}
                                    </th>
                                    <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                        {{ finalreg.user.get_full_name }}
                                    </td>
                                    <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                        {{ finalreg.course.name }}
                                    </td>
                                    <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                        {{ finalreg.registering_date }}
                                    </td>
                                    <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                        <div class="text-center">
                                            <button class="showInformation btn btn-primary"
                                                    name="{{ finalreg.user.get_full_name }}"
                                                    phone="{{ finalreg.user.profile.phone }}"
                                                    other_phone="{{ finalreg.user.profile.other_phone }}"
                                                    mail="{{ finalreg.user.email }}"
                                                    url="{% url 'detail' %}">
                                                <i class="fa fa-info-circle"></i> Contact Info
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td scope="row" class="text-danger text-center">NO INFO.</td>
                                    <td scope="row" class="text-danger text-center">NO INFO.</td>
                                    <td scope="row" class="text-danger text-center">NO INFO.</td>
                                    <td scope="row" class="text-danger text-center">NO INFO.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button class="btn btn-success float-lg-right">
                            <a href="{% url 'create-excel' %}" style="color:whitesmoke">
                                <i class="fa fa-file-excel-o"></i> Print Excel</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
