{% extends 'base.html' %}
{% load static %}
{% load relate_to_tag %}
{% block TITLE %}Yönetim Paneli{% endblock %}
{% block HEAD %}

    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $(".showPreregistration").click(function () {
                var $this = $(this);
                var $name = $this.attr('name');
                var $mail = $this.attr('mail');
                var $phone = $this.attr('phone');
                var $other_phone = $this.attr('other_phone');
                var $url = $this.attr('url');

                var data = {
                    name: $name, mail: $mail, phone: $phone, other_phone: $other_phone
                };

                $.ajax({
                    url: $url,
                    type: 'GET',
                    dataType: 'json',
                    data: data,
                    success: function (data) {

                        $(".ad").html(data.name);
                        $(".phone_number").html(data.phone);
                        $(".other_phone").html(data.other_phone);
                        $(".mail").html(data.mail);
                        $(".modal").modal('show')
                    }
                });
            });

            $(".confirmPayment").click(function () {
                if (confirm('Ödeme bildirimi onaylanacak, kesin kayıt gerçekleşecektir. Emin misiniz?')) {
                    var $this = $(this);
                    var $url = $this.attr('url');
                    var $payment_id = $this.attr('payment_id');
                    var $username = $this.attr('username');
                    var $course_code = $this.attr('course_code');

                    var data = {payment_id: $payment_id, username: $username, course_code: $course_code};
                    $('.ajaxProgress').show();
                    $.ajax({
                        url: $url,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            location.reload();
                            $('.ajaxProgress').hide();
                        }
                    });
                }
            });

            $(".cancelPayment").click(function () {
                if (confirm('Ödeme bildirimi iptal edilecektir. Emin misiniz?')) {
                    var $this = $(this);
                    var $url = $this.attr('url');
                    var $username = $this.attr('username');
                    var $course_code = $this.attr('course_code');

                    var data = {username: $username, course_code: $course_code};

                    $('.ajaxProgress').show();
                    $.ajax({
                        url: $url,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            location.reload();
                            $('.ajaxProgress').hide();
                        }
                    });
                }
            });

            $(".deleteRegistration").click(function () {
                if (confirm('Kayıt silinecektir. Emin misiniz?')) {
                    var $this = $(this);
                    var $url = $this.attr('url');
                    var $finalreg_id = $this.attr('finalreg_id');


                    var data = {finalreg_id: $finalreg_id};

                    $.ajax({
                        url: $url,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            location.reload()
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}
{% block BODY %}
    <div class="container-fluid" style="background-color: whitesmoke">
        {% include 'modal.html' %}
        <!-- NAVBAR -->
        {% include 'admin/admin-navbar.html' %}
        {% include 'message.html' %}
        <!-- CONTENT -->
        <div class="row" style="height: 1080px; margin-top: 75px;">
            <!-- PAYMENTS -->
            <div class="col-lg-8 offset-2">
                <h1 class="text-center panel-headers">Gelen Kurs Talepleri</h1>
                <hr>
                <div class="col-lg-8 offset-2">
                    <div style="height: 450px; overflow-y: scroll; overflow: auto">
                        <div class="table-responsive">
                            <table class="table  table-responsive-md table-responsive-lg table-responsive-sm table-bordered table-dark">
                                <thead>
                                <tr>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;">#</th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        TALEPTE BULUNAN
                                    </th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        TALEP EDILEN KURS
                                    </th>
                                    <th scope="col" style="font-family: 'Trebuchet MS', serif; font-size: 15px;"
                                        class="text-center">
                                        DETAYLAR
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for request in requests %}
                                    <tr>
                                        <th scope="row" style="font-family: 'Calibri Light'; font-size: 16px">
                                            {{ forloop.counter }}
                                        </th>
                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            {{ request.user.get_full_name }}
                                        </td>
                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            {{ request.request_title }}
                                        </td>
                                        <td scope="row" style="font-family: 'Calibri'; font-size: 16px">
                                            <form action="{% url 'course-request-detail' request.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="text-center">
                                                    <input class="showPreregistration btn btn-primary"
                                                    type="submit" value="Detaylar">
                                                    </input>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                        <td scope="row" class="text-danger text-center">BİLGİ YOK</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}