{% extends 'base.html' %}
{% block TITLE %}Detay | {{ course.name }}{% endblock %}
{% load course_status %}

{% block BODY %}
    {% include 'nav-bar.html' %}
    <div class="container-fluid" style="margin-top: 180px;">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 offset-2">
                <div class="card">
                    <h5 class="card-header">Details</h5>
                    <div class="card-body">
                        <div style="height: 450px; overflow-y: scroll; overflow: auto">
                            <h4 class="card-title" style="font-family: Bahnschrift; color: darkblue">{{ course.name }}</h4>
                            <hr>
                            <p><b style="font-family: Bahnschrift,serif; font-size: 18px;"><i class="fa fa-clock-o"></i>
                                Start at:
                            </b> <span style="font-family: 'Calibri Light'; font-size: 19px;">{{ course.start_at }}</span></p>
                            <p><b style="font-family: Bahnschrift,serif; font-size: 18px;"><i class="fa fa-clock-o"></i>
                                Finish at:
                            </b> <span style="font-family: 'Calibri Light'; font-size: 19px;"> {{ course.finish_at }}</span></p>
                            <p><b style="font-family: Bahnschrift,serif; font-size: 18px;"><i class="fa fa-tag"></i>
                                Price (without discount):
                            </b> <span style="font-family: 'Calibri Light'; font-size: 19px;"> {{ course.price }}$</span></p>
                            <p><b style="font-family: Bahnschrift,serif; font-size: 18px;"><i class="fa fa-info-circle"></i>
                                Course status:
                            </b> <span style="font-family: 'Calibri Light'; font-size: 19px;"> {{ course_status|get_status:course.status }}</span></p>
                            <h5>CONTENT OF COURSE</h5>
                            <hr>
                            <p class="card-text">{{ course.content|linebreaks }}</p>
                        </div>
                    </div>
                    {% if course.status == "2" or course.status == "3" %}
                        {% if course.is_registerable == False %}
                            <a href="{% url 'send-application' course.course_code %}"
                               class="btn btn-primary float-lg-right">
                                <i class="fa fa-file-text"></i> APPLY
                            </a>
                        {% else %}
                            <a href="{% url 'send-payment' course.registering_extension %}"
                               class="btn btn-primary float-lg-right">
                                <i class="fa fa-file-text"></i> REGISTER</a>
                        {% endif %}
                    {% else %}
                        <u class="float-lg-right text-center">Cannot apply.</u>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
