{% extends 'base.html' %}
{% block TITLE %}Kursiyer Listesi{% endblock %}

{% block BODY %}
    <div class="container-fluid">
        {% include 'admin/admin-navbar.html' %}
        {% include 'message.html' %}
        <div class="row" style="margin-top: 75px;">
            <div class="col-lg-6 offset-3">
                <h1 class="text-center course-prereg-header" style="color: darkblue">Kursiyerler
                    ({{ users.count }})</h1>
                <hr>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <div class="text-center">
                                KURSİYER
                            </div>
                        </th>
                        <th scope="col">
                            <div class="text-center">
                                İŞLEM
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in users %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <div class="text-center">
                                    {{ profile.user.get_full_name }}
                                </div>
                                </td>
                            <td>
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        <i class="fa fa-pencil-square-o"></i> <a
                                            href="{% url 'user-class-edit' profile.user.username %}"
                                            style="color: white">KURS BİLGİLERİNİ DÜZENLE</a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <th scope="row">1</th>
                        <td>Bilgi yok</td>
                        <td>Bilgi yok</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}