{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script rel="script" type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block HEAD %}{% endblock %}
    <title>Ege Üni. UZEM | Şifre yenileme</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="height: 1080px;">
            <div class="col-sm-6 col-md-6 col-lg-6" style="background-color: rgb(33,66,99);">
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 200px; color: honeydew">
                    <h1 class="text-center" style="color: whitesmoke; font-size: 64px; font-family: 'Calibri'">Şifre
                        yenileme talebi.</h1>
                    <p class="text-center" style="color: lightgray; font-size: 25px; font-family: Bahnschrift">
                        E-mail adresinize bir kod gönderilecektir.
                    </p><br><br>
                    <p class="text-center" style="color: lightgray; font-size: 25px; font-family: Bahnschrift">
                        Bu kod ile hesabınıza giriş yapabileceksiniz. Hesabınıza giriş yaptıktan sonra "Profilim"
                        sekmesinden "Şifre değiştir" linkine tıklayınız ve şifrenizi güncelleyiniz.
                    </p><br><br>
                    <h3 class="text-center"><a href="{% url 'login' %}"
                                               style="color: floralwhite; font-family: 'Trebuchet MS';">Giriş sayfasına
                        dön.</a></h3>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top: 250px;">
             {% include 'message.html' %}
                <h1 class="text-center course-prereg-header" style="margin-top: 40px; color: darkblue">Ege UZEM
                    Şifre Yenileme</h1>
                <form method="post" action="{% url 'forgot-password' %}">
                    {% csrf_token %}
                    <!-- FORM FIELDS-->
                    {% for field in form %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
                                    <label class="control-label" style="color: #0f0f0f"
                                           for="{{ field.id_for_label }}">
                                        <span style="font-family: 'Calibri Light'; color: darkblue; font-size: 18px;">{{ field.label }}</span>
                                    </label>
                                    {{ field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <span style="color: red; font-family: 'Calibri Light'; font-size: 17px;"><b>{{ error }}</b></span>
                                        {% endfor %}
                                    {% else %}
                                        {% if field.help_text %}
                                            <span style="font-family: 'Calibri Light'; color: gray;">{{ field.help_text }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
                            <input type="submit" class="btn btn-success float-lg-right" value="Gönder"
                                   style="margin-top: 10px">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


