    {% extends 'base.html' %}
{% load static %}
{% load course_price_calc %}
{% block TITLE %}Ödeme Bildirimi{% endblock %}

{% block BODY %}

    {% include 'nav-bar.html' %}
    <div class="container-fluid" style="margin-top: 180px;">
        <div class="row" style="margin-top: 100px">
            <div class="col-sm-6 col-md-6 col-lg-6 offset-3">
                <div class="col-md-8 offset-2 text-center">
                    <h2 class="panel-headers">Course Pre-Registrations</h2>
                    <p class="lead">You're applying for this course: {{ course.name }}</p>
                    <p class="lead">
                        When this course reach enough participation, we will open the certain
                        registrations and send e-mail to you.
                    </p>
                    <h4>WARNING:</h4>
                    <p class="lead">Before applying, check your information from "My Profile". We'll use
                        these information to confirm your payment & registration.
                    </p>
                    <p style="font-family: Bahnschrift;">
                        <u>This isn't certain registration. You don't need to pay anything.</u>
                    </p>
                </div>
                <form method="post" action="{% url 'send-application' course.course_code %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 offset-2 text-center">
                            <input type="submit" class="btn btn-primary"
                                                            value="APPLY"
                                                            style="margin-top: 10px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}